@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar * {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #652A0E;
  border-radius: 6px;
}